.App {
  text-align: left;
}

body{
  font-family: 'League Spartan', sans-serif;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header{
  text-align: center;
}

.songs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

img{
  width: 200px;
  height: auto;
  border-radius: 10px;
}
